.ant-select-selector {
  border: none !important;
  background: white !important;
  // background: url('https://thumbs.dreamstime.com/b/shopping-cart-icon-vector-logo-137282150.jpg');
  // height: 100px;
}
.Selected_list {
  min-width: 400px !important;
  position: fixed !important;
  left: 880px !important;
  top: 130px !important;
  .ant-select-item-option-content {
    width: 100% !important;
  }
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.ant-select-selector {
  background: url('https://icons.iconarchive.com/icons/iconsmind/outline/512/Shopping-Cart-icon.png')
    center !important;
  background-size: cover !important;
  width: 50px !important;
  height: 50px !important;
}
