* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
.a-baseline {
  align-items: baseline;
}
.w-100 {
  width: 100%;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.t-center {
  text-align: center;
}
.bg-list {
  background: #f5f5f5;
}
.color-logo {
  background: #f8981e;
}
